.index{
    background-image: url(../img/coltec3.jpg);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;*/
}

.registro{
    background-image: url(../img/coltec2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
}   
#titulo{
    text-align: center;
    font-family:'Arial Narrow';
    font-weight: bold;
    color:white;
    font-size: 100px;
    padding-top: 6%;
    padding-bottom: 15%;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}


#posicao{
    position: absolute;
    top: 70%;
    left: 40.84%;
}

.autores {

    bottom: 0px;
    position: absolute;
    color: white;
    margin-left: 35%;
    /* text-align: center; */
}

.bt{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 50px;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
    width: 20%;
    height: 10%;
    display: block;
    clear: both;
    margin: 10px 0px;
    position: absolute;
    top: 50%;
    left: 40.84%;   
}

.logo {

    width: 250px;
    height: 250px;
    margin-left: 20%; 
    margin-top: 50px;
}

/*.jumbotron {

    background-image: url(../img/coltec3.jpg);
    background-size: cover;
    background-position: center;
}*/