body{
    /* background-image: url(coltec1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}
#titulo{
    text-align: center;
    font-family:'Arial Narrow';
    font-weight: bold;
    color:green;
    font-size: 100px
}


#posicao{
    position: absolute;
    top: 70%;
    left: 40.84%;
}

#ou{
    position: absolute;
    top: 60%;
    left: 49.5%;
    font-size: 30px;
    font-family:'Arial Narrow';
    font-weight: bold;
    color:blue;

}

.bt{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
    width: 20%;
    height: 10%;
    display: block;
    clear: both;
    margin: 10px 0px;
    position: absolute;
    top: 50%;
    left: 40.84%;
    
}