body{
    background-image: url(../img/coltec3.jpg);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}
#titulo{
    text-align: center;
    font-family:'Arial Narrow';
    font-weight: bold;
    color:white;
    font-size: 100px;
    padding-top: 6%;
    padding-bottom: 6%;
}
h1{
    color: forestgreen
}


#posicao{
    position: absolute;
    top: 70%;
    left: 40.84%;
}

.autores {

    bottom: 0;
    position: absolute;
    color: white;
}

.bt{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 50px;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
    width: 20%;
    height: 10%;
    display: block;
    clear: both;
    margin: 10px 0px;
    position: absolute;
    top: 50%;
    left: 40.84%;   
}

.logo {

    width: 250px;
    height: 250px;
    position: absolute;
    margin-left: 20%; 
    margin-top: 50px;
}

/*.jumbotron {

    background-image: url(../img/coltec3.jpg);
    background-size: cover;
    background-position: center;
}*/

/* estilos da pesquisa */
main div#janela_login {
    width:860px;
    margin:100px auto 30px;
}

main div#janela_login form {
    width:470px;
    margin:10px auto;
}

main div#janela_login form h2  {
    font-family: sans-serif;
    color:#C5996B;
}

main div#janela_login form p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    background: #F00;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    width:120px;
    text-align: center;
}

main div#janela_login form input[type="text"] {
    width:280px;
    padding:10px;
    border:1px solid #CDC99B;
    border-radius: 5px;
    outline: none;
}

main div#janela_login form input[type="password"] {
    width:280px;
    padding:10px;
    margin-top:15px;
    border:1px solid #CDC99B;
    border-radius: 5px;
    outline: none;
}

main div#janela_login form input[type="submit"] {
    display: block;
    padding:10px 20px;
    margin-top:15px;
    color: #FFF;
    border:0;
    border-radius: 5px;
    background-color: #C5996B;
    outline: none;
    cursor: pointer;
}
/* fim do estilo da pesquisa */