.linha-vertical {
  color: cornflowerblue;
  height: 500px;
  /*Altura da linha*/
  border-left: 2px solid;
  /* Adiciona borda esquerda na div como ser fosse uma linha.*/
}

.cor {
  background: cornflowerblue;
}

#log {
  background: cornflowerblue;
  border-radius: 20px;
  width: 300px;
  height: 500px;
}

#cadas {
  background:lightgray;
  border-radius: 20px;
  width: 100%;

  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);}
